.hero {
	background-image: url(../../assets/menu/header_img.png);
}

.hero::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.796;
}
